.button {
  width: 100%;
  max-width: fit-content;
  padding: var(--padding-xs) var(--padding-l);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
  box-shadow: none;
}
