.models-page {
  width: 100%;
}

.models-page__title {
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
}

.models-page__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap-xxl);
}
