.container {
  padding: var(--padding-s);
  background-color: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 30px -16px var(--primary-color);
  border: 5px solid var(--primary-color);
  box-sizing: border-box;
}
