.container {
  padding: var(--padding-l);
  background-color: var(--white-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 15px -8px var(--primary-color);
  border: 3px solid var(--primary-color);
  box-sizing: border-box;
}
