.news-card__title {
  color: var(--primary-color);
  padding: 0 0 var(--padding-xs);
}

.news-card__title::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin: 0 0 var(--margin-xs);
  background-color: var(--primary-color);
}

.news-card__content {
  font-size: 16px;
  line-height: 1.5;
}

.news-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 var(--padding-xs);
}

.news-card__prediction {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.news-card__status {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
}

.news-card__status_fake {
  background-color: var(--error-color-light);
  color: var(--error-color);
}

.news-card__status_real {
  background-color: var(--success-color-light);
  color: var(--success-color);
}

.news-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--margin-s);
  justify-content: space-between;
}
