:root {
  /* Colors */
  --background-color: #fafbff;
  --primary-color-dark: #4361ee;
  --primary-color-dark-hover: #3b54d3;
  --primary-color-dark-on-click: #2f44b0;
  --primary-color-dark-disabled: #c8ccd6;
  --secondary-color: #1e293b;
  --secondary-color-hover: #334155;
  --secondary-color-on-click: #0f172a;
  --secondary-color-light: #94a3b8;
  --success-color: #059669;
  --success-color-light: #d1fae5;
  --error-color: #dc2626;
  --error-color-light: #fee2e2;
  --white-color: #ffffff;

  /* Fonts */
  --font-family: roboto, sans-serif;

  /* Spacings */
  --padding-xs: 16px;
  --padding-s: 32px;
  --padding-m: 48px;
  --padding-l: 64px;
  --padding-xl: 96px;
  --padding-xxl: 256px;
  --margin-xs: 16px;
  --margin-s: 32px;
  --margin-m: 50px;
  --margin-l: 65px;
  --margin-xl: 85px;
  --margin-xxl: 110px;
  --gap-xs: 16px;
  --gap-s: 24px;
  --gap-m: 32px;
  --gap-l: 40px;
  --gap-xl: 48px;
  --gap-xxl: 56px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}
