:root {
  /* Colors */
  --background-color: #fafbff;
  --primary-color: #1e293b;
  --primary-color-hover: #334155;
  --primary-color-on-click: #0f172a;
  --primary-color-light: #94a3b8;
  --success-color: #059669;
  --success-color-light: #d1fae5;
  --warning-color: #ca8000;
  --warning-color-light: #f8ebb5;
  --error-color: #dc2626;
  --error-color-light: #fee2e2;
  --white-color: #ffffff;

  /* Fonts */
  --font-family: roboto, sans-serif;

  /* Spacings */
  --padding-xs: 8px;
  --padding-s: 12px;
  --padding-m: 16px;
  --padding-l: 32px;
  --padding-xl: 48px;
  --padding-xxl: 80px;
  --margin-xs: 8px;
  --margin-s: 16px;
  --margin-m: 24px;
  --margin-l: 32px;
  --margin-xl: 48px;
  --margin-xxl: 80px;
  --gap-xs: 8px;
  --gap-s: 12px;
  --gap-m: 16px;
  --gap-l: 24px;
  --gap-xl: 32px;
  --gap-xxl: 40px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}
